$font-family: 'Roboto', sans-serif;
$footer-bg-image:'../images/social-media.png';
$logo-image:'../images/logo.png';
$body-bg-image:'../images/bg.gif';
$red:#F25C43;
$white:#FFF;
$gray:#666;
$footer-greybar-color:#F5F6F6;
$footer-background-color:#30353D;
$facebook-logo-position: 0;
$google-logo-position: -38px;
$rss-logo-position: $google-logo-position * 2;
$twitter-logo-position: $google-logo-position * 3;